{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout.html" %}


{% block body %}


<div class="row">
	<!-- left column -->
	<div class="span12">
		<h4 class="site_description"><em> # Hi. Ever wondered what a class is really like before you register for it? You've come to the right place. Use this site to read student reviews of ITP courses and leave your comments on the classes you've taken. It's quick and easy and will hopefully take the guess-work out of choosing your classes.
		</em></h4>
		<br/>
		<hr/>
		
		{% for dream_post in dreams %}
			<h3><a href="/dream/{{ dream_post.slug }}">{{ course.title }}</a></h3>
			<p>by {{ dream_post.postedby }}</p>
			<p>{% for cat in dream_post.categories %}
				<span class="label label-inverse"><a href="/category/{{ cat }}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}</p>
			<p>{{ dream_post.dream }}</p>
			<h4><a href="/dream/{{ dream_post.slug }}">-- Dreamers ( {{ dream_post.comments|length }} )</a></h4>
			<hr/>
		{% endfor %}
		
	</div>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}