{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout.html" %}


{% block body %}


<div class="row">
	<!-- left column -->
	<div class="span12" id="dreamology_description">
		<h4 class="site_description">“Dreamology” is a way to relax and instigate creativity before going to sleep. You can continue a story based on your imagination. It's a website for whoever want to release stress and worries, going to bed with a clear mind. Using “Dreamology” you can push new thoughts into your brain, stimulating creativity.
		</h4>
		<br/>
	</div>

	<br>

	<div class="span12">
		
        <hr>

		{% for dream_post in dreams %}
			<h3><a href="/dream/{{ dream_post.slug }}">{{ dream_post.title }}</a></h3>
			<p>by {{ dream_post.postedby }}</p>
			<p>{% for cat in dream_post.categories %}
				<span class="label label-inverse"><a href="/category/{{ cat }}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}</p>
			<p>{{ dream_post.dream }}</p>
			<h4><a href="/dream/{{ dream_post.slug }}">-- Dreamers ( {{ dream_post.comments|length }} )</a></h4>
			<hr/>
		{% endfor %}
	</div>

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}